.wholePage {
  width: 100vw;
  height: fit-content;
  background-image: url("../assets/waves/tales_02.jpg");
  display: flex;
  flex-direction: column;
}
.aboutHeader {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #116a6b;
  text-align: center;
  padding-top: 20vh;
}

.aboutOne {
  background-color: #116a6baf;
  position: relative;
  margin-top: 50vh;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  padding: 2em;
}
.aboutOne p {
  width: 50%;
  text-align: start;
}
.aboutTwo {
  position: relative;
  background-color: #116a6baf;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 5em;
}
.aboutTwo p {
  width: 50%;
  text-align: end;
  padding: 2em;
}
.aboutThree {
  position: relative;
  padding-top: 50vh;
  background-color: #116a6baf;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  padding: 2em;
}
.aboutThree p {
  width: 50%;
  text-align: start;
}
.aboutFour {
  background-color: #116a6baf;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 5em;
}
.aboutFour p {
  width: 50%;
  text-align: end;
  padding: 2em;
}
