.svgs {
  overflow-x: hidden !important;
  width: 100%;
  height: 1000px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-flow: column;
}
.waveOne {
  overflow-x: hidden !important;
  width: 100%;
  background-image: url("../assets/images/wave.png");
  background-position: center;
  background-repeat: no-repeat;

  height: 100%;
  position: relative;
}
.waveTwo {
  overflow-x: hidden !important;
  width: 100%;
  background-image: url("../assets/images/wave.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 10%;
  position: relative;
}
@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.useAnimate {
  animation-name: slidein;
  animation-duration: 500ms;
}
@media (max-width: 680px) {
  .waveOne {
  }
}
